# Tabular models

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [0]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [0]:
#Indicate target
dep_var = 'salary'
#indicating categorical variables
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
#indicating categorical vars
cont_names = ['age', 'fnlwgt', 'education-num']
#Indicate processes which have to be done on data
procs = [FillMissing, #replace missing, wheter missing or not 
         Categorify, #turn categories into pandas.cats - numbers
         Normalize #normalization
         ] 
#same procs should apply to both test and train datasets

In [0]:
test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [0]:
data = (TabularList.from_df(df, path=path, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_idx(list(range(800,1000))) #splits into train/val sets
                           .label_from_df(cols=dep_var)
                           .add_test(test)
                           .databunch())

In [0]:
data.show_batch(rows=10)

In [0]:
#indicate model
#indicate data
#metrics - just prints them, indicated our performance (metrics doesn't affect model performance) 
#what is layers? (This is kind of architecture definition)
learn = tabular_learner(data, layers=[200,100], metrics=accuracy)

In [0]:
#train model
learn.fit(1, 1e-2)

## Inference

In [0]:
row = df.iloc[0]

In [0]:
learn.predict(row)

(Category >=50k, tensor(1), tensor([0.4402, 0.5598]))